body {
    background-color: #121212;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #444;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #666;
}
