body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    width: 90%;
    max-width: 900px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 70vh;
}
h1, h2 {
    text-align: center;
    color: #ffffff;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #222831;
    color: white;
    border: 1px solid white;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #03721d;
    color: white;
}
.add-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #03721d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.add-btn:hover {    
    background-color: #218838;
}
.form-container {
    display: none;
    margin-top: 20px;
}
.form-container select, .form-container input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.form-container button:hover {
    background-color: #218838;

}
.dark-mode {
background-color: #222831;
color: white;
}

.dark-mode table {
background-color: #222831;
color: white;
border-color: white;
}

.dark-mode button {
background-color: #333;
color: white;
border: 1px solid white;
}

.dark-mode tr:nth-child(even) {
background-color: #2a2f3a; 
}

.dark-mode th {
background-color: #058a53; 
}

.dark-mode td {
color: white;
}

.dark-mode h2 {
color: white;
}