
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
    text-align: center;
}


h2 {
    color: #333;
    margin-bottom: 20px;
}


table {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #058a53;
    color: white;
    font-size: 16px;
}

tr:nth-child(even) {
    background: #f9f9f9;
}


.btn-eliminar {
    padding: 8px 12px;
    background: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-block;
}

.btn-eliminar:hover {
    background: #c82333;
    transform: scale(1.05);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dark-mode {
    background-color: #222831;
    color: white;
}

.dark-mode table {
    background-color: #222831;
    color: white;
    border-color: white;
}

.dark-mode button {
    background-color: #333;
    color: white;
    border: 1px solid white;
}

.dark-mode tr:nth-child(even) {
    background-color: #2a2f3a; 
}

.dark-mode th {
    background-color: #058a53; 
}

.dark-mode td {
    color: white;
}

.dark-mode h2 {
    color: white;
}



