body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.container {
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
h2, h3 {
    text-align: center;
    color: #2e7d32;
}
label {
    font-weight: bold;
}
input, select, button {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background-color: #1b5e20;
}
.prestamo {
    background: #e8f5e9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.prestamo p {
    margin: 5px 0;
}

.dark-mode {
    background-color: #222831;
    color: white;
}

.dark-mode .container {
    background-color: #333;
    color: white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.dark-mode input,
.dark-mode select {
    background-color: #444;
    color: white;
    border: 1px solid #bbb;
}

.dark-mode button {
    background-color: #333;
    color: white;
    border: 1px solid white;
}

.dark-mode .prestamo {
    background: #3a3f47;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}
