.carousel-container {
    width: 100%; 
    max-width: 500px; /* Ajustar según tu diseño */
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.carousel img {
    width: 100%;
    object-fit: cover;
}

/* Estilo del usuario logeado */
.user-info {
    padding: 10px;
    background: #0077b6;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Botón de cerrar sesión */
.logout-btn {
    display: block;
    width: 100%;
    background: red;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.logout-btn:hover {
    background: darkred;
}







